html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("media/background.png");
    background-size: 150vw 120vh;
    overflow: hidden;
    font-family: pixel;
    cursor: default;
    user-select: none;
}

@font-face {
    font-family: pixel;
    src: url(fonts/Pixeled.ttf);
}

#startScreen {
    position: absolute;
    right: 15vw;
    top: 8vh;
    background-color: rgba(85, 124, 253, 0.704);
    border-radius: 3vw;
    width: 70vw;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#startScreen h1 {
    font-size: 4vw;
}

#startScreen p {
    font-size: 1.5vw;
}

.pName {
    font-size: 1vw;
    margin-bottom: 2vh;
}


#arrows, #wasd {
    height: 7vw;
    width: 7vw;
}

#startBtn {
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    color: red;
    cursor: pointer;
    font-size: 2vw;
}

#startBtn:hover, #restartBtn:hover  {
    color: rgb(255, 134, 134);
}

#cars {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    align-self: center;
    justify-content: space-between;
}

#carouselPlayer1 {
    width: 20vw;
}

#carouselPlayer2 {
    width: 20vw;
}

#carouselPlayer2 .carousel-inner .carousel-item img {
    filter: invert(1)
}


.carousel-item img {
    /* width: 10vw; */
    height: 20vh;
    margin: auto;
}

#gameScreen {
    display: none;
}

canvas{
    width: 100%;
    height: 100%;
}

.score {
    height: 20vh;
    width: 17vw;
    position: absolute;
    border-radius: 4vw;
    text-align: center;
    line-height: 17vh;
    font-size: 5vw;
}

#score2 {
    background-color: rgba(85, 124, 253, 0.404);
    top: 2vh;
    left: 1vw;
}

#score1 {
    background-color: rgba(245, 255, 109, 0.39);
    top: 2vh;
    right: 1vw;
}

#scoreLimit {
    height: 10vh;
    width: 30vw;
    position: absolute;
    border-radius: 4vw;
    text-align: center;
    line-height: 9vh;
    font-size: 2vw;
    background-color: rgba(233, 223, 223, 0.39);
    top: 2vh;
    right: 35vw;
}

.explo {
    height: 20vh;
    width: 17vw;
    top: 21vh;
    position: absolute;
    display: none;
    /* display: inline !important; */
}

#explo1 {
    right: -2vw;
    transform: scaleX(-1);
}

#explo2 {
    left: -2vw;
}

#endLine {
    height: 50vh;
    width: 60vw;
    position: absolute;
    top: 20vh;
    left: 20vw;
    display: none;
    background-color: rgba(85, 124, 253, 0.704);
    border-radius: 2vw;
    text-align: center;
    line-height: 35vh;
    font-size: 5vw;
}

#restartBtn {
    height: 20vh;
    width: 60vw;
    position: absolute;
    bottom: 30vh;
    left: 20vw;
    display: none;
    cursor: pointer;
    border-radius: 2vw;
    text-align: center;
    line-height: 15vh;
    font-size: 3vw;
    color: red;
}